/* 
COLORS

dark gray #3E3C3F
light gray #767676

dark purple #AE7FD1
light purple #D7B5F0
*/

/*GLOBAL STYLES*/

* { box-sizing: border-box; }

html { font-size: 100%; }

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../fonts/roboto_condensed/roboto-condensed.bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto_condensed/roboto-condensed.bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.ff-bold {
	font-family: 'roboto_condensedbold', Impact, Verdana, sans-serif;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open_sans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/open_sans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.ff-regular {
	font-family: 'open_sansregular', Arial, sans-serif;
  color:  #3E3C3F;
}

.container {
	margin: 1rem auto;
	width: 100%;
	overflow: auto;
}

/*HEADER*/

.brand {
	float: left;
	padding-left: 1rem;
	margin-bottom: 1rem;
}

.hamburger {
  background:none;
  position:absolute;
  right: 0;
  padding: 0 1rem;
  color: #3E3C3F;
  border:none;
  z-index: 20;
}

nav a {
	font-variant: small-caps;
	text-decoration: none;
}

.nav {
	text-align: right;
}

.nav ul {
	list-style: none;
	padding-right: 1rem;
	padding-left: 0;
	margin: 0;
}

.nav ul li {
	display: inline-block;
}

.nav ul li a {
	display: inline-block;
	padding: .5rem;
}

.un-active {
  color: #3E3C3F;
}

.current-page {
  color: #AE7FD1;
}

.nav ul li a:hover {
	color: #767676;
}

/*MAIN HOME*/

.home {
	animation: change 15s 0s infinite alternate;
}

@keyframes change {
  0% { background-color: #D7B5F0;   }
  50% {background-color: #AE7FD1;  }
  100% {background-color: #767676;}
}

.home-text {
	text-align: center;
}

.home-text a {
	color: white;
	text-decoration: none;
}

/*MAIN PORTFOLIO*/

.portfolio {
margin-top: 1rem;
}

.portfolio .row {
	margin: 0 auto;
}

.portfolio .row .col {
	background-color: #AE7FD1;
	margin-bottom: 2rem;
}

.portfolio figcaption {
	text-align: center;
}

.portfolio figcaption a {
	color: white;
	text-decoration: none;
	font-variant: small-caps;
	font-weight: 600;
}

/*MAIN CONTACT*/

.contact {
  text-align: left;
  padding: 0 1rem;
}

.contact p {
	margin-top: 0;
	margin-bottom: .5rem;
}

.email {
	font-weight: 600;
}

.email a:link {
  color: #AE7FD1; 
  text-decoration: none;
}

.email a:hover {
  color: #D7B5F0;
}

.social {
  text-align: center;
}

.social img {
  margin: 0 .5rem;
}

.form {
	background-color: #ededed;
}

fieldset {
  border: 0;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin: 1.5rem auto 0;
}

label {
  color: #3E3C3F;
  display: block;
  line-height: 0;
  font-variant: small-caps;
  font-weight: 600;
}

input[type=text] {
  width: 100%;
  padding: 5px 1rem;
  margin-bottom: 2rem;
  color: #3E3C3F;
  border: 2px solid #3E3C3F;
  border-radius: 2px;
}

textarea:focus, input[type=text]:focus {
  outline: none;
  border: 3px solid #D7B5F0;
}

textarea {
  width: 100%;
  height: 10rem;
  padding: 5px 1rem;
  color: #3E3C3F;
  border: 2px solid #3E3C3F;
  border-radius: 2px;
  resize: none;
}

input[type=submit] {
  background-color: #AE7FD1;
  border: none;
  color: white;
  padding: 4px 1rem 6px;
  width: 100%;
  text-decoration: none;
  font-variant: small-caps;
  font-weight: 600;
  margin: 1rem 0 0;
  border-radius: 2px;
  display: block;
  outline: none;
}

input[type=submit]:hover {
  background-color: #D7B5F0;
}

/*FOOTER*/

footer {
	text-align: center;
	padding-top: 1rem;
}

footer img {
	margin: 0 .5rem;
}

/*MEDIA QUERIES*/

@media (min-width: 9.38rem) {
	/*150px*/

.brand {
	width: 35%;
}

.hamburger {
	font-size: 1.5rem;
}

.nav {
	opacity: 0;
}

.nav-home {
	text-align: center;
	font-size: 1rem;
}

.nav-home ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-home ul li {
	padding-bottom: 1rem;
}

.home {
	height: 12rem;
}

.home-text {
	font-size: 1.5rem;
	line-height: 12rem;
}

.portfolio .row .col {
	height: 10rem;
	width: 100%;
}

.portfolio figcaption a {
	line-height: 10rem;
	font-size: 1.5rem;
}

footer img {
	height: 2rem;
	width: 2rem;
}

}

@media (min-width: 18.69rem) {
	/*299px*/

.hamburger {
	font-size: 2rem;
}

.nav-home {
	font-size: 2rem;
}

.home {
	height: 20rem;
}

.home-text {
	font-size: 2.5rem;
	line-height: 20rem;
}

.portfolio .row .col {
	height: 13rem;
}

.portfolio figcaption a {
	line-height: 13rem;
	font-size: 3rem;
}

label, input[type=submit] {
	font-size: 1.25rem;
}

.social img {
  width: 3rem;
  height: 3rem;
}

footer img {
	height: 3rem;
	width: 3rem;
}

}

@media (min-width: 28.06rem){
	/*449px*/

.brand {
	width: 30%;
}

.hamburger {
	font-size: 2.5rem;
}

.nav-home {
	font-size: 2.5rem;
}

.home {
	height: 24rem;
}

.home-text {
	font-size: 3.5rem;
	line-height: 24rem;
}

.portfolio .row .col {
	height: 15rem;
}

.portfolio figcaption a {
	line-height: 15rem;
	font-size: 4rem;
}

fieldset {
	width: 80%;
}

footer img {
	height: 3.5rem;
	width: 3.5rem;
}

}

@media (min-width: 37.44rem) {
	/*599px*/
	
.brand {
	width: 25%;
}

.hamburger {
	font-size: 3rem;
}

.nav-home {
	font-size: 3rem;
}

.home-text {
	font-size: 4.5rem;
}

.portfolio .row .col {
	width: 43%;
	height: 22rem;
	display: inline-block;
}

.col.one, .col.three {
	float: left;
	margin-left: 2rem;
}

.col.two, .col.four {
	float: right;
	margin-right: 2rem;
}

.portfolio figcaption a {
	line-height: 22rem;
	font-size: 3rem;
}

.contact {
	font-size: 1.25rem;
}

label, input[type=submit] {
	font-size: 1.5rem;
}

.social img {
  width: 4rem;
  height: 4rem;
}
	
}

@media (min-width: 47.94rem) {
	/*767px*/

.brand {
	width: 20%;
}

.home {
	height: 25rem;
}

.home-text {
	font-size: 5.5rem;
	line-height: 25rem;
}

.portfolio .row .col {
	height: 24rem;
}

.portfolio figcaption a {
	line-height: 24rem;
	font-size: 4rem;
}


}

@media (min-width: 54.63rem) {
	/*874px*/
	
.portfolio .row .col {
	width: 44%;
	height: 27rem;
}

.portfolio figcaption a {
	line-height: 27rem;
	font-size: 4.5rem;
}

.contact {
	font-size: 1.5rem;
}

label, input[type=submit] {
	font-size: 1.75rem;
}

}

@media (min-width: 59.94rem) {
	/*959px*/

.brand {
	width: 15%;
}

.hamburger {
	opacity: 0;
}

.nav {
	opacity: 1;
}

.nav ul li a, .nav-home ul li a {
	font-size: 1.5rem;
}

.nav-home  {
	position: absolute;
	top: 0;
	right: 0;
}

.nav-home ul {
	padding-right: 1rem;
}

.nav-home ul li {
	display: inline-block;
}

.nav-home ul li a {
	display: inline-block;
	padding: .5rem;
}

.home {
	height: 40rem;
}

.home-text {
	font-size: 7rem;
	line-height: 40rem;
}

.portfolio .row .col {
	width: 21%;
	height: 20rem;
}

.col.one, .col.two {
	float: left;
	margin-left: 2rem;
	margin-right: 0;
}

.col.three, .col.four {
	float: right;
	margin-right: 2rem;
	margin-left: 0;
}

.portfolio figcaption a {
	line-height: 20rem;
	font-size: 2.5rem;
}

.contact {
	float: left;
	width: 50%;
	padding-left: 2rem;
}

.form {
	float: right;
	width: 50%;
}

fieldset {
	width: 90%;
	margin-top: 0;
}

.social img {
  width: 4.75rem;
  height: 4.75rem;
}

footer img {
	height: 3rem;
	width: 3rem;
}

}

@media (min-width: 67.19rem) {
	/*1074*/

.nav ul li a, .nav-home ul li a {
	font-size: 2rem;
}

.portfolio .row .col {
	width: 22%;
}

.col.one, .col.two {
	float: left;
	margin-left: 1.5rem;
	margin-right: 0;
}

.col.three, .col.four {
	float: right;
	margin-right: 1.5rem;
	margin-left: 0;
}

}

@media (min-width: 71.81rem) {
	/*1149*/
	
.portfolio .row .col {
	width: 22.5%;
	height: 24rem;
}

.portfolio figcaption a {
	line-height: 24rem;
	font-size: 3rem;
}

}